@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 8px !important; /* pushes dots below the box */
}

.swiper-button-next,
.swiper-button-prev {
  color: #78350f !important; /* same brown tone */
  transition: transform 0.3s ease;
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.6);
  }
}

@media (min-width: 641px) and (max-width: 1023px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.8);
  }
}

@media (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(1);
  }
}
